body{
  background-color:#dae1e4 ;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1e8feb;
  height: 3.5rem;
}

.nav-title {
  
  display: flex;
  align-items: center;
  cursor: pointer;
  
}

.nav-title-logo {
  height: 3rem;
}

.nav-title-text {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.button {
  height: 3.5rem;
  width: 5rem;
  cursor: pointer;  
}

.login-button {
  background-color: #1976d2;  
}

.register-button {
  background-color: #008e81;
}

.login-container {
  background-color: #dae1e4;
  display: flex;  
  justify-content: center;
  height: 100%;
  
}

.form-container {
  background-color: #dae1e4;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;  
  height: 25rem;
  width: 40vw;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}

.input-field {
  background-color:  white;
  border: 2px black solid
}



.map {  
  height: 75vh;
  width: 100vw;
  background-color: #89b7f8;
  overflow: hidden;
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 3rem;
  background-color: yellow;
  width: 100vw;
  height: 75vh;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

/*
.map {
position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1976d2;
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;    
  position: relative;
  height: 0;
  width: 80%;
  padding-bottom: 50%;
  background-color: #008e81;
}->
*/